<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.mygrades">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme"
        android:name=".MyGradesApplication">

        <!-- MainActivity -->
        <activity android:name=".view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- GradeDetailedActivity -->
        <activity
            android:name=".view.activity.GradeDetailedActivity"
            android:parentActivityName=".view.activity.MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>

        <!-- SelectUniversityActivity -->
        <activity
            android:name=".view.activity.SelectUniversityActivity"
            android:launchMode="singleTop"/>

        <!-- LoginActivity -->
        <activity
            android:name=".view.activity.LoginActivity"
            android:parentActivityName=".view.activity.SelectUniversityActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.SelectUniversityActivity" />
        </activity>

        <!-- LinkIntentActivity -->
        <activity
            android:name=".view.activity.LinkIntentActivity"
            android:parentActivityName=".view.activity.MainActivity">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="de.mygrades.view.activity" />
            </intent-filter>
        </activity>

        <!-- SettingsActivity -->
        <activity
            android:name=".view.activity.SettingsActivity"
            android:parentActivityName=".view.activity.MainActivity">
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.MainActivity" />
        </activity>

        <!-- MainService -->
        <service android:name=".main.MainService" android:exported="false" />

        <!-- AlarmReceiver -->
        <receiver android:name=".main.alarm.AlarmReceiver" android:enabled="true" />
    </application>

</manifest>
